// Header Area
.arabic_header {
    padding: 40px 0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9;
    .arabic_header_left {
        gap:20px;
        a {
            display: inline-block;
            color: var(--primary-color);
            border: 1px solid var(--primary-color);
            border-radius: 9px;
            padding: 8px 20px;
            font-weight: 600;
        }
    }
    .main_menu {
        display: flex;
        justify-content: center;
        ul {
            li {
                display: inline-block;
                margin-left: 20px;
                margin-right: 20px;
                a {
                    color: var(--heading-color);
                }
            }
        }
    }
}